# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv

env/
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

#Entornos / IDE
venv/
.env
.vscode
.idea/

#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

#Django
#db.sqlite3
media/
staticfiles/
*.log

#os
.DS_Store
Thumbs.db