{% extends 'layouts/base-fullscreen.html' %}
{% load static %}

{% block title %}Recuperar contraseña{% endblock title %}

{% block stylesheets %}
<style>
  body.bg-default {
      background-image: url("{% static 'assets/img/logo/logoo.png' %}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
</style>
{% endblock stylesheets %}
{% block content %}
<br><br><br>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">

          <h2 class="h3 mt-2 text-center">Recuperar contraseña</h2>
          <hr>

          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          {% if form.email.errors %}
            <div class="alert alert-danger">
              {{ form.email.errors|striptags }}
            </div>
          {% endif %}

          <form method="POST">
            {% csrf_token %}

            <div class="form-group mt-4">
              <label class="form-label">Correo electrónico</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-email-83"></i>
                  </span>
                </div>
                {{ form.email }}
              </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4">
              Recuperar contraseña
            </button>
          </form>

          <p class="mt-4 mb-2 text-center">
            <a href="{% url 'login' %}">Regresar al login</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
