{% extends 'layouts/base-fullscreen.html' %}
{% load static %}

{% block title %}Contraseña restablecida{% endblock title %}

{% block content %}
<br><br><br>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5 text-center">

          <h2 class="h3 mb-4 mt-2">Contraseña restablecida</h2>
          <hr>

          <div class="alert alert-success" role="alert">
            ¡Tu contraseña ha sido establecida con éxito!
          </div>

          <p class="mb-4">
            Ya puedes iniciar sesión con tu nueva contraseña.
          </p>

          <a href="{% url 'login' %}" class="btn btn-primary w-100">
            Iniciar Sesión
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
