{% extends "layouts/base_public.html" %}

{% block title %}Biblioteca Legal | Colegio de Abogados{% endblock %}

{% block content %}
<section class="section py-5 bg-light">
  <div class="container">

    <div class="section-title mb-5">
      <h2>Biblioteca Legal</h2>
      <div>
          <span>Biblioteca </span>
          <span class="description-title">Legal </span>
        </div>
    </div>

    <div class="row justify-content-center">

      {% for d in documentos_biblioteca %}
      <div class="col-md-6 col-lg-5 mb-4">
        <div class="card h-100 border-0 shadow-sm rounded-4 p-3">

          <div class="card-body">
            <h5 class="card-title fw-semibold">
              <i class="bi bi-file-earmark-pdf text-danger me-2"></i>
              {{ d.tema }}
            </h5>

            <p class="card-text text-muted mt-3">
              {{ d.descripcion }}
            </p>
          </div>

          <div class="card-footer bg-white border-0 pt-0">
            <a href="{{ d.archivo.url }}"
               class="btn btn-primary px-4"
               target="_blank">
              Descargar PDF
            </a>
          </div>

        </div>
      </div>
      {% empty %}
      <div class="col-12 text-center">
        <p class="text-muted">No existen documentos disponibles.</p>
      </div>
      {% endfor %}

    </div>

  </div>
</section>
{% endblock %}
