{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="{% static 'assets/img/logo/logoemp.png' %}" type="image/png">
  <title>Colegio de Abogado de el oro</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!--CSS-PAGINA INFORMATIVA-->

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/tipoletra.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/argon.css' %}" rel="stylesheet">

  <!-- CSS Personalizado -->
  <link href="{% static 'assets/css/personalizado.css' %}" rel="stylesheet">


</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top bg-verde-oro">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">


      <nav id="navmenu" class="navmenu d-flex align-items-center"
        style="display:flex; align-items:center; justify-content:space-between; width:100%;">

        <!-- LOGO -->
        <a href="{% url 'pagina_informatica' %}" class="nav-logo me-3">
          <img src="{% static 'assets/img/logo/logoemp.png' %}" alt="Colegio de Abogados">
        </a>

        <!-- MENÚ AL LADO DERECHO -->
        <ul class="nav-links d-flex align-items-center"
          style="display:flex; align-items:center; gap:25px; margin:0; padding:0; list-style:none;">

          <li><a href="#hero" class="active">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#events">Eventos</a></li>
          <li><a href="#testimonials">Testimonios</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#noticias">Noticias</a></li>

          <li><a href="#contact">Contacto</a></li>

          <li>
            <a href="{% url 'login' %}">
              <i class="bi bi-people" style="margin-right: 5px;"></i>
              Iniciar sesión
            </a>
          </li>

        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>


    </div>
  </header><!-- End Header -->

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
z
      <img src="{% static 'assets/img/gallery/fondoabog.jpeg' %}" alt="Fondo del presidente" class="hero-bg">

      <div class="container">
        <br>
        <div class="row gy-4 justify-content-between">

          <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="{% static 'assets/img/gallery/presw.jpeg' %}" class="img-fluid" alt="Abogado">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-in">
            <h1>Colegio de Abogados <br>de El Oro <span><br>
              </span> </h1>

            <h2 class="lema">"DILE SÍ AL CAMBIO"</h2>
          </div>

        </div>
      </div>

    </section>
    <!-- /Hero Section -->

    <section id="about" class="about section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>Sobre nosotros</h3>
            <h2>¿Quiénes somos?</h2>
            <p>El Colegio de Abogados de El Oro es una institución gremial que agrupa, representa y fortalece a los
              profesionales del Derecho de la provincia de El Oro. Comprometidos con la defensa del ejercicio ético de
              la abogacía, el respeto al ordenamiento jurídico y la vigencia del Estado constitucional de derechos y
              justicia.
              Somos un espacio de encuentro, formación, defensa y respaldo para nuestros agremiados, comprometidos con
              el desarrollo profesional continúo impartiendo capacitaciones y congresos, el fortalecimiento de la unidad
              del gremio y promoción del esparcimiento para nuestros agremiados y sus familias. Nuestra labor se orienta
              a dignificar la profesión jurídica y a contribuir activamente al fortalecimiento de la justicia y la
              seguridad jurídica en nuestra provincia y en el país.</p>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <i class="bi bi-buildings"></i>
                  <h3>Inauguración del campeonato interno</h3>
                  <p>Un espacio que promueve la integración, el bienestar y el compañerismo entre nuestros miembros
                    mediante actividades deportivas que fortalecen la unidad institucional.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-clipboard-pulse"></i>
                  <h3>Selección de reinas</h3>
                  <p>Evento que destaca la elegancia, liderazgo y compromiso de nuestras representantes, reforzando la
                    identidad y el espíritu institucional.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-command"></i>
                  <h3>Selección de fútbol</h3>
                  <p>Equipo institucional que sobresale por su disciplina, talento y dedicación, representando con
                    orgullo a nuestro Colegio en diversas competencias.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-graph-up-arrow"></i>
                  <h3>Obra Institucional</h3>
                  <p>Comprometidos con el desarrollo social, impulsamos proyectos que contribuyen al crecimiento y
                    bienestar de la comunidad.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- /About Section -->

    <!-- Misión y Visión Section -->



    <section id="mision-vision" class="about section light-background">
      <div class="container">

        <div class="section-title">
          <h2>Misión y Visión</h2>
          <div><span>Últimos</span> <span class="description-title"> Esencia Institucional</span></div>

        </div>

        <div class="row gy-5 align-items-stretch">

          <!-- Misión -->
          <div class="col-xl-6 d-flex">
            <div class="icon-box text-center p-4" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-bullseye" style="font-size: 60px; color:#0d6efd;"></i>
              <br>
              <h3 class="mt-3">Misión</h3>
              <p>
                El Ilustre Colegio de Abogados de El Oro tiene como misión principal la representación y defensa de los
                intereses profesionales de sus agremiados, abogados y abogadas de nuestra provincia de El Oro,
                promoviendo el ejercicio ético, responsable y competente de la abogacía, mediante la capacitación
                permanente, el fortalecimiento institucional y la participación activa en la vida jurídica y social
              </p>
            </div>
          </div>

          <!-- Visión -->
          <div class="col-xl-6 d-flex">
            <div class="icon-box text-center p-4" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-eye" style="font-size: 60px; color:#0d6efd;"></i>
              <h3 class="mt-3">Visión</h3>
              <p>
                El Ilustre Colegio de Abogados de El Oro está comprometido con el trabajo continuo de ser una
                institución gremial sólida, moderna y referente a nivel nacional, reconocida por su liderazgo,
                transparencia y compromiso con sus agremiados, es aras de prevalecer la excelencia profesional, la
                defensa del Estado de derechos y el fortalecimiento del sistema de justicia, consolidando al Colegio de
                Abogados de El Oro como un pilar fundamental del desarrollo jurídico y social de nuestra provincia.
              </p>
            </div>
          </div>

        </div>

      </div>

    </section>


    <!-- Events Section -->
    <section id="events" class="events section-bg py-5">
      <div class="container">

        <div class="section-title">
          <h2>Eventos</h2>
          <div><span>Últimos</span> <span class="description-title">Eventos registrados</span></div>

        </div>

        <div class="d-flex justify-content-center mb-4 gap-3">
          <button class="btn btn-outline-primary btn-sm filter-btn active" data-filter="all">
            Todos
          </button>
          <button class="btn btn-outline-primary btn-sm filter-btn" data-filter="proximo">
            Proximos
          </button>
          <button class="btn btn-outline-primary btn-sm filter-btn" data-filter="finalizado">
            Finalizados
          </button>
        </div>

        <div class="row">
          {% for evento in eventos %}
          <div class="col-lg-4 col-md-6 mb-4 event-card" data-estado="{{ evento.estado|lower }}" data-aos="fade-up">

            <div class="event-item p-3 border rounded shadow-sm h-100 d-flex flex-column">

              {% if evento.imagen %}
              <img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}" class="img-fluid rounded mb-3"
                style="height:260px; width:100%; object-fit:cover;">
              {% endif %}

              <div class="flex-grow-1 d-flex flex-column">

                <h3 class="mt-2">
                  <a href="#" class="stretched-link">{{ evento.nombre }}</a>
                </h3>

                <!-- DESCRIPCIÓN CRECE -->
                <p class="flex-grow-1">
                  {{ evento.descripcion }}
                </p>

                <!-- FECHAS SIEMPRE ABAJO -->
                <div class="d-flex flex-column align-items-start gap-2 mt-auto">
                  <span class="badge">
                    Inicio: {{ evento.fecha_inicio|date:"d-m-Y" }}
                  </span>
                  <span class="badge">
                    Fin: {{ evento.fecha_fin|date:"d-m-Y" }}
                  </span>
                  <span class="badge">
                    Estado: {{ evento.estado }}
                  </span>
                </div>

              </div>
            </div>

          </div>
          {% endfor %}
        </div>

      </div>

      </div>
    </section>
    <!-- /Events Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-emoji-smile"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="2500" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Proyectos </p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-journal-richtext"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Convenios</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-headset"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Capacitaciones</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="bi bi-people"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Socios</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Details Section -->
    <!-- Details Section -->
    <section id="details" class="details section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Detalles</h2>
        <div><span>Nuestros Servicios </span> <span class="description-title">Institucionales</span></div>
      </div><!-- End Section Title -->

      <div class="container">

        <!-- Respaldo -->
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex justify-content-center align-items-center" data-aos="zoom-out"
            data-aos-delay="100">
            <i class="bi bi-shield-check" style="font-size: 120px; color:#0d6efd;"></i>
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>Respaldo </h3>
            <p class="fst-italic">
              El Colegio protege tus derechos como profesional del Derecho.
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span> Defensa de la profesión.</span></li>
              <li><i class="bi bi-check"></i><span> Representación ante organismos nacionales.</span></li>
              <li><i class="bi bi-check"></i><span> Tribunal de Honor.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <!-- Crecimiento profesional -->
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex justify-content-center align-items-center" data-aos="zoom-out"
            data-aos-delay="200">
            <i class="bi bi-bar-chart-line" style="font-size: 120px; color:#0d6efd;"></i>
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Crecimiento profesional</h3>
            <p class="fst-italic">
              Programas para potenciar tus competencias jurídicas.
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span> Capacitaciones.</span></li>
              <li><i class="bi bi-check"></i><span> Bibliografía y recursos legales.</span></li>
              <li><i class="bi bi-check"></i><span> Charlas y conferencias con especialistas.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <!-- Beneficios administrativos -->
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex justify-content-center align-items-center" data-aos="zoom-out">
            <i class="bi bi-clipboard-check" style="font-size: 120px; color:#0d6efd;"></i>
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>Beneficios administrativos</h3>
            <p>Gestión simplificada para abogados afiliados.</p>
            <ul>
              <li><i class="bi bi-check"></i><span> Certificados.</span></li>
              <li><i class="bi bi-check"></i><span> Trámites internos.</span></li>
              <li><i class="bi bi-check"></i><span> Acceso a instalaciones.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <!-- Oportunidades -->
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex justify-content-center align-items-center" data-aos="zoom-out">
            <i class="bi bi-award" style="font-size: 120px; color:#0d6efd;"></i>
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>Oportunidades y reconocimiento</h3>
            <p class="fst-italic">
              Participa activamente en la vida institucional.
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span> Entrega de Certificado</span></li>
              <li><i class="bi bi-check"></i><span> Eventos</span></li>
              <li><i class="bi bi-check"></i><span> Distinciones</span></li>
            </ul>
          </div>


        </div><!-- Features Item -->


        <!-- Beneficios administrativos -->
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex justify-content-center align-items-center" data-aos="zoom-out">
            <i class="bi bi-clipboard-check" style="font-size: 120px; color:#0d6efd;"></i>
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>Afiliados</h3>
            <p>Afiliados al colegio de abogados.</p>
            <ul>
              <li><i class="bi bi-check"></i><span> Boveda Gratuita</span></li>
              <li><i class="bi bi-check"></i><span> Descuentos especiales gracias a convenios
                  interinstitucionales.</span></li>
              <li><i class="bi bi-check"></i><span> Descuentos en uso de instalaciones complejo deportivo ubicado en la
                  Via balosa</span></li>
              <li><i class="bi bi-check"></i><span> Descuentos en uso de instalaciones sede social ubicada via Puerto
                  bolivar</span></li>
              <li><i class="bi bi-check"></i><span> Cursos y Talleres</span></li>
              <li><i class="bi bi-check"></i><span> Defensa Gremial</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->
      </div>

    </section><!-- /Details Section -->


    <!-- Testimonials Section -->


    <section id="testimonials" class="testimonials section">

      <img src="{% static 'assets/img/testimonios/fondotesti.jpg' %}" class="testimonials-bg" alt="Fondo testimonios">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="section-title">
          <h2>Testimonios</h2>
          <div><span>Testimonios</span> <span class="description-title">de Socios</span></div>

        </div>
        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": { "delay": 5000 },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          }
        }
      </script>

          <div class="swiper-wrapper">

            <!-- Testimonio 1 -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonios/testimonio1.png' %}" class="testimonial-img" alt="">
                <h3>Abg. Gustavo Izquierdo Muñoz.</h3>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Con satisfacción puedo ver que las metas propuestas se están cumpliendo, se llegó a través de
                    dificultades y teniendo en contra una minoría que valoraba más el cargo propio que el servicio
                    común, hemos caminado paso a paso, con la colaboración de varios eminentes agremiados que con sus
                    ideas, sus acciones y sus aportes, han logrado que el Colegio de Abogados de El Oro, pueda comenzar
                    a tener brillo propio y no ser un apéndice de alguna otra institución, he visto el servicio social,
                    las iniciativas académicas, los convenios y la gestión, todo eso se vé reflejado en el acceso de
                    nosotros como agremiados a un ambiente donde podamos desarrollarnos como una comunidad profesional
                    válida en nuestra provincia. Todo buen trabajo, tiene un buen líder y mérito también al Presidente
                    del Colegio de Abogados de El Oro Arturo Galarza, a su Vicepresidenta Judi Blacio y a todos los
                    miembros del Directorio, así como también a todos los abogados que aún no siendo parte del
                    directorio, han permitido un crecimiento exponencial en las iniciativas y realidades del gremio.
                    Loor a los colegas que buscan siempre el bienestar común del gremio! Mucho se ha hecho y mucho queda
                    por hacer!
                    Distinguidos Saludos </span>
                   
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                 
              </div>
            </div>

            <!-- Testimonio 2 -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonios/testimonio1.png' %}" class="testimonial-img" alt="">
                <h3>Abg. María Cedeño</h3>
                <h4>Abogada Corporativa</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Los eventos del Colegio me mantienen actualizada en mi profesión.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <!-- Testimonio 3 -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonios/testimonio1.png' %}" class="testimonial-img" alt="">
                <h3>Dr. Carlos Viteri</h3>
                <h4>Asesor Jurídico Público</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Ser socio me abrió oportunidades profesionales importantes.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <!-- Testimonio 4 -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonios/testimonio1.png' %}" class="testimonial-img" alt="">
                <h3>Abg. Daniela Torres</h3>
                <h4>Abogada Laboralista</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>El apoyo institucional ha fortalecido mi credibilidad profesional.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

            <!-- Testimonio 5 -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonios/testimonio1.png' %}" class="testimonial-img" alt="">
                <h3>Dr. Andrés Molina</h3>
                <h4>Especialista en Derecho Civil</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Ofrecen recursos que ayudan a mejorar mi defensa técnica.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>

          </div>

          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>


    <!-- Team Section -->
    <section id="team" class="team section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Directivos</h2>
        <div><span>Nuestro</span> <span class="description-title">Equipo</span></div>
      </div>

      <div class="container">
        <!-- DIRECTIVOS PRINCIPALES -->
        <div class="row gy-5 justify-content-center">

          <!-- PRESIDENTE -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member text-center">
              <div class="pic">
                <img src="{% static 'assets/img/gallery/presi.jpg' %}" class="img-fluid" alt="Dr. Arturo Galarza">
              </div>
              <div class="member-info mt-3">
                <h4>Dr. Luis Arturo Galarza Fernandez</h4>
                <span class="cargo">Presidente del Colegio de Abogados de El Oro</span>

                <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
              </div>
            </div>
          </div>

          <!-- VICEPRESIDENTA -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member text-center">

              <div class="pic">
                <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Yudy Blacio">
              </div>

              <div class="member-info">
                <h4>Abg. Yudy Lizeth Blacio Moreno</h4>
                <span class="cargo">Vicepresidenta</span>


                <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
              </div>

            </div>
          </div>


          <!-- SECRETARIO -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member text-center">
              <div class="pic">
                <img src="{% static 'assets/img/gallery/avatar.jpg' %}" class="img-fluid" alt="Abg. Luis Zambrano">
              </div>
              <div class="member-info mt-3">
                <h4>Abg. Jonny Romulo Zavala Pineda</h4>
                <span class="cargo">Secretario</span>

                <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
              </div>
            </div>
          </div>

          <!-- TESORERA -->
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="member text-center">
              <div class="pic">
                <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Diana Medina">
              </div>
              <div class="member-info mt-3">
                <h4>Abg. Diana Katerine Medina Farfan</h4>
                <span class="cargo">Tesorera</span>

                <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
              </div>
            </div>
          </div>

        </div>
        <br>
        <br>
        <!-- BOTÓN VER MÁS DIRECTIVOS -->
        <div class="row">
          <div class="col-12 text-center mt-4">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#masDirectivos"
              aria-expanded="false" aria-controls="masDirectivos">
              Ver más directivos
            </button>
          </div>
        </div>

        <!-- DIRECTIVOS OCULTOS -->
        <div id="masDirectivos" class="collapse mt-5">
          <div class="row gy-4 justify-content-center">

            <div class="col-12 text-center mb-4">
              <h4 class="team-subtitle">Vocales Principales</h4>
            </div>
            <!-- Directivo 1 -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid"
                    alt="Abg. Carlos Palacios">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Jhon Paul Ullauri Hurtado</h4>
                  <span class="cargo">Vocal Principal 1</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <!-- Directivo 2 -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Karina Viteri">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Evelyn Mishel Diaz Diaz</h4>
                  <span class="cargo">Vocal Principal 2</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <!-- Directivo 3 -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-4">
                  <h4>Abg. Erick Patricio Solano Bravo</h4>
                  <span class="cargo">Vocal Principal 3</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <!-- VOCALES SUPLENTES -->
            <div class="col-12 text-center mb-4 mt-5">
              <br>
              <h4 class="team-subtitle">Vocales Suplentes</h4>
            </div>
            <!-- Directivo 4 -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Edison Rolando Suarez Salazar</h4>
                  <span class="cargo">Vocal Suplente 1</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>



            <!-- Directivo 5 -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Samanta Judith Veintimilla Granda</h4>
                  <span class="cargo">Vocal Suplente 2</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>
            <br>
            <!-- Directivo  -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. May Chislandia Diaz Campana</h4>
                  <span class="cargo">Vocal Suplente 3</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>
            <!-- VOCALES SUPLENTES -->
            <div class="col-12 text-center mb-4 mt-5">
              <h4 class="team-subtitle"></h4>
            </div>
            <!-- Directivo  -->
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <br>
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Rene Alfredo Ramon Pelaez</h4>
                  <span class="cargo">Vocal Suplente 4</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Evelyn Omaira Escaleras Rios</h4>
                  <span class="cargo">Vocal Suplente 5</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Joffre Omar Rodriguez Rizzo</h4>
                  <span class="cargo">Vocal Suplente 6</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member text-center">
                <div class="pic">
                  <img src="{% static 'assets/img/gallery/advogada.jpg' %}" class="img-fluid" alt="Abg. Jorge Sánchez">
                </div>
                <div class="member-info mt-3">
                  <h4>Abg. Naomi Estefania Gomez Muñoz</h4>
                  <span class="cargo">Vocal Suplente 7</span>

                  <!-- <div class="social mt-2">
                    <a href="#"><i class="bi bi-twitter-x"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>



    <!-- /Team Section -->


    <!-- Noticias Section -->

    <section id="noticias" class="services section-bg py-5">
      <div class="container">

        <div class="section-title">
          <h2>Noticias</h2>
          <div><span>Ultimas</span> <span class="description-title">publicaciones</span></div>
        </div>

        <div class="d-flex justify-content-center mb-4 gap-3">
          <button class="btn btn-outline-primary btn-sm date-filter active" data-filter="all">
            Todas
          </button>
          <button class="btn btn-outline-primary btn-sm date-filter" data-filter="today">
            Hoy
          </button>
          <button class="btn btn-outline-primary btn-sm date-filter" data-filter="week">
            Últimos 7 días
          </button>
          <button class="btn btn-outline-primary btn-sm date-filter" data-filter="month">
            Últimos 30 días
          </button>
        </div>

        <div class="row">

          {% for noticia in noticias %}
          <div class="col-md-4 mb-4 news-card" data-fecha="{{ noticia.fecha_publicacion|date:'Y-m-d' }}">

            <div class="card shadow-sm h-100">

              <!-- Imagen -->
              {% if noticia.imagen %}
              <img src="{{ noticia.imagen.url }}" class="img-fluid" alt="Imagen de noticia">
              {% endif %}


              <!-- Contenido -->
              <div class="card-body">

                <!-- Categoría y fecha -->
                <div class="d-flex justify-content-between text-muted small mb-2">
                  <span><i class="bi bi-tag"></i> {{ noticia.categoria }}</span>
                  <span><i class="bi bi-calendar"></i> {{ noticia.fecha_publicacion|date:"d M Y" }}</span>
                </div>

                <!-- Título -->
                <h5 class="card-title fw-bold">{{ noticia.titulo }}</h5>

                <!-- Botón -->
                <p>{{ noticia.extracto }}</p>
                <a href="{{ noticia.url }}" target="_blank" class="btn btn-primary w-100">
                  Leer más <i class="bi bi-arrow-right-short"></i>
                </a>


              </div>

            </div>
          </div>
          {% empty %}
          <p class="text-center">No hay noticias disponibles.</p>
          {% endfor %}

        </div>

      </div>
    </section>

    <!-- /Noticias Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

            <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
              <h3><span>Preguntas frecuentes </span></h3>
              <p>
                Aquí tienes algunas preguntas frecuentes para ayudarte a comprender mejor nuestros servicios y cómo
                podemos brindarte.
              </p>
            </div>

            <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿Cuáles son los Requisitos para Inscribirse al Colegio de Abogados de El Oro?</h3>
                <div class="faq-content">
                  <p>
                    1. 2 fotos tamaño carnet <br>
                    2. Copia de título de universidad <br>
                    3. Impresión de título de Senecyt <br>
                    4. Copia de cédula y certificado de votación <br>
                    5. Depósito, transferencia o Pago en efectivo de $ 100 a la Cuenta de Ahorros del Colegio de
                    Abogados de El Oro Nro. 2034658 de la Cooperativa Jardín Azuayo <br>
                    6. Pagar $10 para la Credencial, en la Cuenta de Ahorros del Colegio de Abogados de El Oro Nro.
                    2034658 de la Cooperativa Jardín Azuayo
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿Cómo puedo solicitar la credencial del Colegio de Abogados de El Oro?</h3>
                <div class="faq-content">
                  <p>Pagar la credencial: foto digital, nombres completos, número de cédula, fecha de nacimiento, tipo
                    de sangre y el pago de $10 a la Cuenta de Ahorros del Colegio de Abogados de El Oro Nro. 2034658 de
                    la Cooperativa Jardín Azuayo..</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿A qué cuenta puedo pagar las Cuotas Sociales?</h3>
                <div class="faq-content">
                  <p>COLEGIO DE ABOGADOS DE EL ORO
                    COOP JARDIN AZUAYO
                    CTA AHORROS Nro. 2034658
                    RUC Nro. 0791706270001
                    DIRECC: AV MADERO VARGAS
                    MAIL: colegiodeabogadosdeeloro@gmail.com.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿De qué manera se puede pagar las Cuotas Sociales?</h3>
                <div class="faq-content">
                  <p>Se puede pagar mediante transferencia, deposito o pago en efectivo en la Oficina ubicada en las
                    calles Sucre y Santa Rosa Esquina.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿Cuánto es el valor de la Cuota Social?</h3>
                <div class="faq-content">
                  <p>Es el valor de $ 10 mensuales.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>¿Cómo acceder a los Convenios Interinstitucionales y a las Capacitaciones impartidas por el Colegio
                  de Abogados de El Oro?</h3>
                <div class="faq-content">
                  <p>Los agremiados deben estar al día en sus cuotas sociales y solicitar la certificación
                    correspondiente al Colegio de Abogados de El Oro.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->


            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2">
            <img src="assets/img/faq.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <div><span>Contáctanos</span> <span class="description-title"></span></div>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Direción</h3>
                <p>Av. Sucre y Santa Rosa</p>
              </div>
            </div>

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>colegiodeabogadosdeeloro@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <!-- INICIO CONTACTO -->
          <div class="col-lg-8">

            <form method="POST" action="" class="php-email-form">
              {% csrf_token %}

              {% if success %}
              <div class="alert alert-success mt-3">
                ¡Tu mensaje fue enviado correctamente!
              </div>
              {% endif %}

              <div class="row gy-4">

                <!-- Nombre -->
                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Nombres y Apellidos" required>
                </div>

                <!-- Email -->
                <div class="col-md-6">
                  <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                </div>

                <!-- Asunto -->
                <div class="col-md-12">
                  <input type="text" name="subject" class="form-control" placeholder="Asunto" required>
                </div>

                <!-- Mensaje -->
                <div class="col-md-12">
                  <textarea name="message" class="form-control" rows="6" placeholder="Mensaje" required></textarea>
                </div>

                <!-- Botón -->
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary px-4 py-2">
                    Enviar mensaje
                  </button>
                </div>

              </div>
            </form>

          </div>
          <!-- FIN CONTACTO -->
        </div>

      </div>

    </section><!-- /Contact Section -->

    <section id="base-legal" class="base-legal section light-background">

      <div class="container section-title" data-aos="fade-up">
        <h2>Base Legal</h2>
        <div>
          <span>Base </span>
          <span class="description-title">Legal </span>
        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">

          {% for d in documentos_base %}
          <div class="col-lg-6">
            <div class="legal-item p-4 border rounded mb-5" data-aos="fade-up">

              <h4>
                <i class="bi bi-file-earmark-pdf me-2 text-danger"></i>
                {{ d.tema }}
              </h4>

              <p>{{ d.descripcion }}</p>

              <a href="{{ d.archivo.url }}" class="btn btn-primary mt-3" target="_blank">
                Descargar PDF
              </a>

            </div>
          </div>
          {% empty %}
          <div class="col-12 text-center">
            <p>No existen documentos legales registrados.</p>
          </div>
          {% endfor %}

        </div>
      </div>

    </section>
    <section id="base-legal" class="base-legal section light-background">
  <div class="container section-title">
    <h2>Base Legal</h2>
    <p>Consulta nuestras normas, reglamentos y documentos legales.</p>

    <a href="{% url 'biblioteca_legal' %}" class="btn btn-primary mt-3">
      Ver Biblioteca Legal
    </a>
  </div>
</section>


    <!-- /Base Legal Section -->


    <!-- Enlaces de Interés Section -->
    <section class="enlaces-interes" style="background-color: #ffffff !important;">
      <div class="container">
        <h3 class="titulo-enlaces">Enlaces de Interés</h3>

        <div class="logos-enlaces"
          style="display: flex; gap: 20px; justify-content: center; align-items: center; flex-wrap: wrap;">

          <a href="https://www.funcionjudicial.gob.ec/" target="_blank">
            <img src="{% static 'assets/img/enlaces/judicatura.png' %}" alt="Consejo de la Judicatura"
              style="height: 120px;">
          </a>
          <br>
          <a href="https://www.fiscalia.gob.ec/" target="_blank">
            <img src="{% static 'assets/img/enlaces/fiscalia.png' %}" alt="Fiscalía General del Estado"
              style="height: 120px;">
          </a>
          <br>
          <a href="https://www.registroficial.gob.ec/" target="_blank">
            <img src="{% static 'assets/img/enlaces/registro.png' %}" alt="Registro Oficial del Ecuador"
              style="height: 120px;">
          </a>
          <br>
          <a href="https://www.corteconstitucional.gob.ec/" target="_blank">
            <img src="{% static 'assets/img/enlaces/corte.png' %}" alt="Corte Constitucional del Ecuador"
              style="height: 120px;">
          </a>
        </div>

      </div>
    </section>


  </main>
  <br>
  <footer id="footer" class="footer dark-background bg-verde-oro">


    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'pagina_informatica' %}" class="logo d-flex align-items-center">
            <span class="sitename">Colegio
              de Abogados de el Oro <br>
            </span>
          </a>
          <div class="footer-contact pt-3">
            <p>Av. Sucre
              y Santa Rosa</p>
            <!-- <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p> -->
            <p><strong>Email:</strong> <span>colegiodeabogadosdeeloro@gmail.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/Colegio.Abogados.ElOro"><i class="bi bi-facebook"></i></a>
            <a
              href="https://www.instagram.com/colegiodeabogadosdeeloro1967?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                class="bi bi-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>


    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Bootslander</strong> <span>All Rights Reserved</span>
      </p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/personalizado.js' %}"></script>



  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  



</body>


</html>