{% extends "layouts/base.html" %}

{% block title %}Acceso denegado{% endblock %}

{% block content %}
<div class="container-fluid mt-5 ">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="bg-gradient-green text-center">
        <h4> Acceso denegado</h4>
        <p>No tienes permisos autorizados para acceder a esta sección.</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">
          Volver al dashboard
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
